# Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Secrets
*.pem
.env
